In [30]:
import pandas as pd

# Load the dataset with the correct delimiter and handling potential issues
file_path = 'RAW_us_deaths_sample.csv'  # Adjust the path to your dataset
data = pd.read_csv(file_path, delimiter=',', quotechar='"', skipinitialspace=True, engine='python')

# Display the first few rows to ensure it is read correctly
print(data.head())

                                      Province_State  Admin2  UID  iso2  iso3  \
0  Alabama,Autauga,84001001,US,USA,840,1001.0,US,...     NaN  NaN   NaN   NaN
1  Alabama,Baldwin,84001003,US,USA,840,1003.0,US,...     NaN  NaN   NaN   NaN
2  Alabama,Barbour,84001005,US,USA,840,1005.0,US,...     NaN  NaN   NaN   NaN
3  Alabama,Bibb,84001007,US,USA,840,1007.0,US,32....     NaN  NaN   NaN   NaN
4  Alabama,Blount,84001009,US,USA,840,1009.0,US,3...     NaN  NaN   NaN   NaN

   code3  FIPS  Country_Region  Lat  Long_  ...  2/28/23  3/1/23  3/2/23  \
0    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
1    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
2    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
3    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
4    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN

   3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[5 rows x 1155 columns]

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
# Check the shape of the dataframe to ensure the expected number of rows and columns
print(data.shape)

# Display the first few rows to verify
print(data.head())

# Display the first few entries of a sample row
print(data.iloc[0, :10].tolist())

(9, 1155)
                                      Province_State  Admin2  UID  iso2  iso3  \
0  Alabama,Autauga,84001001,US,USA,840,1001.0,US,...     NaN  NaN   NaN   NaN
1  Alabama,Baldwin,84001003,US,USA,840,1003.0,US,...     NaN  NaN   NaN   NaN
2  Alabama,Barbour,84001005,US,USA,840,1005.0,US,...     NaN  NaN   NaN   NaN
3  Alabama,Bibb,84001007,US,USA,840,1007.0,US,32....     NaN  NaN   NaN   NaN
4  Alabama,Blount,84001009,US,USA,840,1009.0,US,3...     NaN  NaN   NaN   NaN

   code3  FIPS  Country_Region  Lat  Long_  ...  2/28/23  3/1/23  3/2/23  \
0    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
1    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
2    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
3    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
4    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN

   3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[5 rows x 1155 columns]
['Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.53952745,-86.64408227,"Autauga, Alabama, US",55869,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,2,2,2,1,1,2,2,2,2,2,3,4,4,4,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,4,3,3,3,3,3,3,3,3,3,3,4,4,5,5,5,5,5,5,5,5,5,6,6,6,6,6,6,6,6,7,7,8,8,8,8,10,10,10,11,11,11,11,11,12,12,12,12,12,12,12,13,14,14,15,15,17,18,19,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,21,21,21,21,21,21,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,24,24,24,24,24,24,25,25,25,25,25,25,25,27,27,28,27,27,27,27,27,27,28,28,28,28,28,28,28,28,28,28,28,28,29,30,30,30,31,31,31,31,31,31,31,31,31,31,31,31,31,30,30,30,30,30,32,32,36,36,36,36,37,37,39,39,39,39,39,39,41,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,41,41,41,43,43,43,44,44,44,44,44,46,46,46,46,47,47,47,48,48,50,50,50,50,50,50,50,50,53,54,55,55,55,55,55,55,55,55,55,55,61,61,62,62,62,65,67,69,69,69,69,69,70,71,74,76,77,77,77,77,79,81,84,84,84,84,84,84,84,85,85,85,85,84,85,89,90,91,91,91,91,91,92,92,92,92,92,92,93,95,95,95,95,95,95,96,98,98,98,98,98,99,99,99,99,99,99,99,99,99,99,99,102,102,102,102,102,103,103,103,103,103,103,103,103,103,106,106,106,106,107,107,107,107,107,107,107,107,107,107,107,107,107,107,108,108,108,108,108,108,108,108,108,108,108,108,108,108,108,109,109,110,110,110,110,110,110,110,110,110,110,111,111,111,112,112,112,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,114,115,115,115,115,115,115,115,115,115,115,117,118,118,118,118,118,119,119,119,119,119,119,119,119,119,119,119,119,119,119,120,124,127,127,127,131,133,135,137,137,137,137,139,140,140,142,142,142,142,142,143,144,144,144,144,144,144,145,146,146,146,146,146,146,146,146,148,148,148,148,148,148,148,148,148,148,148,148,150,151,151,151,151,151,152,152,152,152,154,154,154,154,155,156,156,156,156,156,156,156,157,157,157,157,157,157,157,157,157,157,157,157,157,157,157,158,158,158,158,158,158,158,159,159,159,159,160,160,160,160,160,160,160,160,160,160,160,160,160,160,161,161,161,162,162,162,162,162,162,162,162,162,163,163,163,163,163,163,163,163,163,165,163,163,166,166,166,166,167,168,168,170,170,170,171,171,173,173,173,176,176,176,177,181,181,183,184,184,184,184,184,192,194,194,194,194,195,198,199,199,199,199,203,204,205,208,208,208,208,209,209,209,209,210,210,210,210,210,210,209,209,209,209,210,211,211,211,211,211,211,213,213,213,213,213,213,213,213,214,214,214,214,214,214,215,215,215,215,215,215,215,215,215,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,216,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,217,220,220,220,220,220,220,220,220,220,220,220,220,220,220,220,220,221,221,221,221,221,221,221,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,223,223,223,223,223,223,223,226,226,226,226,226,226,226,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,229,229,229,229,229,229,229,229,229,229,229,229,229,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,232,232,232,232,232,232,232,232,232', nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [29]:
# Display columns to verify they are correct
print(data.columns.tolist()[1:20])

['Admin2', 'UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20']

In [23]:
# Extract the date columns (assuming non-date columns are known)
non_date_columns = ['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population']
date_columns = [col for col in data.columns if col not in non_date_columns]

print(date_columns[-10:])

['2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23', '3/7/23', '3/8/23', '3/9/23']

In [5]:
# Check if date columns are in the correct format (MM/DD/YY)
def check_date_format(columns):
    invalid_columns = []
    for col in columns:
        try:
            pd.to_datetime(col, format='%m/%d/%y')
        except ValueError:
            invalid_columns.append(col)
    return invalid_columns

# Run the check
invalid_date_columns = check_date_format(date_columns)
print("Invalid date columns:", invalid_date_columns)

Invalid date columns: []