# EXPLORATORY DATA ANALYSIS OF COVID 19 IN THE US DATASETS

In [220]:
import pandas as pd
import csv
import re

topic = 'deaths'
original_dataset_path = f'RAW_us_{topic}.csv'
cleaned_dataset_path = f'CLEANED_us_{topic}.csv'

DF = pd.read_csv(original_dataset_path)

## CONFIRMED CASES

### Data Profiling

In [206]:
DF.head()

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,19732,19759,19759,19759,19759,19759,19759,19759,19790,19790
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,69641,69767,69767,69767,69767,69767,69767,69767,69860,69860
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,7451,7474,7474,7474,7474,7474,7474,7474,7485,7485
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,8067,8087,8087,8087,8087,8087,8087,8087,8091,8091
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,18616,18673,18673,18673,18673,18673,18673,18673,18704,18704

In [109]:
DF.shape

(3342, 1154)

In [65]:
cols = DF[DF.columns[:11]].columns

In [93]:
DF[cols].duplicated().any()

False

In [108]:
for col in cols:
    print(col," : ", DF[col].unique())

Province_State  :  ['Alabama' 'Alaska' 'American Samoa' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'Diamond Princess'
 'District of Columbia' 'Florida' 'Georgia' 'Grand Princess' 'Guam'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Northern Mariana Islands' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Puerto Rico' 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee'
 'Texas' 'Utah' 'Vermont' 'Virgin Islands' 'Virginia' 'Washington'
 'West Virginia' 'Wisconsin' 'Wyoming']
Admin2  :  ['Autauga' 'Baldwin' 'Barbour' ... 'Uinta' 'Washakie' 'Weston']
UID  :  [84001001 84001003 84001005 ... 84090056 84056043 84056045]
iso2  :  ['US' 'AS' 'GU' 'MP' 'PR' 'VI']
iso3  :  ['USA' 'ASM' 'GUM' 'MNP' 'PRI' 'VIR']
code3  :  [840  16 316 580 630 850]
FIPS  :  [ 1001.  1003.  1005. ... 90056. 56043. 56045.]
Country_Region  :  ['US']
Lat  :  [32.53952745 30.72774991 31.868263   ... 41.2878183  43.90451606
 43.83961191]
Long_  :  [ -86.64408227  -87.72207058  -85.3871286  ... -110.5475782  -107.680187
 -104.5674881 ]
Combined_Key  :  ['Autauga, Alabama, US' 'Baldwin, Alabama, US' 'Barbour, Alabama, US' ...
 'Unassigned, Wyoming, US' 'Washakie, Wyoming, US' 'Weston, Wyoming, US']

In [17]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1154 entries, Province_State to 3/9/23
dtypes: float64(3), int64(1145), object(6)
memory usage: 29.4+ MB

In [19]:
DF.dtypes

Province_State    object
Admin2            object
UID                int64
iso2              object
iso3              object
                   ...
3/5/23             int64
3/6/23             int64
3/7/23             int64
3/8/23             int64
3/9/23             int64
Length: 1154, dtype: object

In [20]:
DF.describe()

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
count,3.342000e+03,3342.000000,3332.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,...,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03
mean,8.342992e+07,834.494913,33043.078932,36.721617,-88.642045,0.000299,0.000299,0.000598,0.000598,0.001496,...,3.095256e+04,3.097961e+04,3.099634e+04,3.101397e+04,3.101461e+04,3.101346e+04,3.101602e+04,3.102660e+04,3.104601e+04,3.106005e+04
std,4.314076e+06,36.487378,18648.808931,9.079322,21.776287,0.017298,0.017298,0.024459,0.024459,0.038656,...,1.080476e+05,1.081128e+05,1.081972e+05,1.083087e+05,1.083093e+05,1.083090e+05,1.083152e+05,1.083322e+05,1.083601e+05,1.084494e+05
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.401811e+07,840.000000,19076.500000,33.896803,-97.803595,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.911000e+03,2.916250e+03,2.920250e+03,2.920250e+03,2.920250e+03,2.920250e+03,2.920250e+03,2.923000e+03,2.917500e+03,2.917500e+03
50%,8.402921e+07,840.000000,31012.000000,38.005610,-89.488865,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.707000e+03,7.713000e+03,7.724500e+03,7.724500e+03,7.724500e+03,7.724500e+03,7.724500e+03,7.735500e+03,7.735500e+03,7.750000e+03
75%,8.404612e+07,840.000000,47129.500000,41.579255,-82.313398,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.025800e+04,2.030300e+04,2.030375e+04,2.031275e+04,2.031275e+04,2.031275e+04,2.031950e+04,2.033450e+04,2.034500e+04,2.034875e+04
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,3.697797e+06,3.697797e+06,3.704034e+06,3.705381e+06,3.705381e+06,3.705381e+06,3.705381e+06,3.705381e+06,3.705381e+06,3.710586e+06

In [21]:
DF.columns[DF.isnull().any()]

Index(['Admin2', 'FIPS'], dtype='object')

In [22]:
print(DF['Admin2'])
print(DF['FIPS'])

0          Autauga
1          Baldwin
2          Barbour
3             Bibb
4           Blount
           ...
3337         Teton
3338         Uinta
3339    Unassigned
3340      Washakie
3341        Weston
Name: Admin2, Length: 3342, dtype: object
0        1001.0
1        1003.0
2        1005.0
3        1007.0
4        1009.0
         ...
3337    56039.0
3338    56041.0
3339    90056.0
3340    56043.0
3341    56045.0
Name: FIPS, Length: 3342, dtype: float64

### Data Cleaning

#### Extraction of the data

In [ ]:
# data = DF["Province_State"]

# col_index_max = DF.shape[0]

# columns = (DF.columns).tolist()

# row_values = []
# my_dict = {}
    
# for i in range(0, col_index_max):
#     input_string = data[i]
    
#     parts = input_string.split('\"')
#     dict = {}

#     for j, part in enumerate(parts, 1):
#         list_part = [elm.replace('\"', '') for elm in part.split(',') if elm]

#         if len(list_part) != 3:
#             my_dict[str(j)] = list_part

#     values_list = [val for sublist in my_dict.values() for val in sublist]

#     row_values.append(tuple(values_list))

    
# cleaned_us_list = [(key, *value) for key, value in zip(columns, row_values)]

# with open(cleaned_dataset_path, 'w') as csvfile:
#     csvwriter = csv.writer(csvfile)
    
#     csvwriter.writerows(cleaned_us_list)

#### Separation and conversion of data

In [208]:
cat_cols = list(DF.columns[:2]) + list(DF.columns[3:5]) + [DF.columns[10]]
DF[cat_cols] = DF[cat_cols].astype('category')

In [209]:
int_cols = [DF.columns[2]] + [DF.columns[5]]
DF[int_cols] = DF[int_cols].astype('int')

In [210]:
float_cols = [DF.columns[6]] + list(DF.columns[8:10])
DF[float_cols] = DF[float_cols].astype('float')

In [211]:
DF['Combined_Key'] = DF['Combined_Key'].astype('str')

In [212]:
date_cols = DF.columns[11:]

DF[date_cols] = DF[date_cols].astype('int')

In [213]:
print(DF.dtypes)

Province_State    category
Admin2            category
UID                  int64
iso2              category
iso3              category
                    ...
3/5/23               int64
3/6/23               int64
3/7/23               int64
3/8/23               int64
3/9/23               int64
Length: 1154, dtype: object

#### Removing of unnecessary data and null values

In [214]:
print(DF['Admin2'].isnull().any())
print(DF['FIPS'].isnull().any())

True
True

In [215]:
if 'Unknown' not in DF['Admin2'].cat.categories:
    DF['Admin2'] = DF['Admin2'].cat.add_categories('Unknown')

DF['Admin2'] = DF['Admin2'].fillna('Unknown')

In [216]:
median_fips = DF['FIPS'].median()
DF['FIPS'] = DF['FIPS'].fillna(median_fips)

In [217]:
DF.drop(['Combined_Key', 'Country_Region', 'FIPS'], axis=1, inplace=True)

In [218]:
DF.columns

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'Lat',
       'Long_', '1/22/20', '1/23/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1151)

In [219]:
DF.to_csv(cleaned_dataset_path, index=False)

### Advanced cleaning / Preprocessing

In [ ]:
DF_desc = DF[DF.columns[:11]]
DF_date = DF[DF.columns[11:]]

print(DF_desc.head(2))
print("-- * --"*10)
print(DF_date.tail(2))

date_cols = DF.columns[11:]

DF[date_cols] = DF[date_cols].apply(pd.to_datetime)

### Univariate Analysis:

In this phase, each variable in the dataset is analyzed individually to understand its distribution, detect outliers, etc. The output of this phase is a set of statistics and visualizations for each variable.

### Bivariate/Multivariate Analysis:

Here, the relationships between two or more variables are analyzed. This could involve creating scatter plots, correlation matrices, etc. The output of this phase is an understanding of the relationships between variables.

### Data Visualization:

This phase involves creating visual representations of the data to understand patterns, trends, and relationships in the data. The output of this phase is a set of plots and charts that represent the data.

### Insights Generation:

Based on the above analyses, meaningful insights are generated from the data. The output of this phase is a set of insights that can guide further data analysis or predictive modeling.

## DEATHS

### Data Profiling

In [221]:
DF.head()

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,230,232,232,232,232,232,232,232,232,232
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,724,726,726,726,726,726,726,726,727,727
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,103,103,103,103,103,103,103,103,103,103
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,109,109,109,109,109,109,109,109,109,109
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,261,261,261,261,261,261,261,261,261,261

In [222]:
DF.shape

(3342, 1155)

In [228]:
cols = DF[DF.columns[:12]].columns #Date starts at 13
cols

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'FIPS',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population'],
      dtype='object')

In [229]:
DF[cols].duplicated().any()

False

In [230]:
for col in cols:
    print(col," : ", DF[col].unique())

Province_State  :  ['Alabama' 'Alaska' 'American Samoa' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'Diamond Princess'
 'District of Columbia' 'Florida' 'Georgia' 'Grand Princess' 'Guam'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Northern Mariana Islands' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Puerto Rico' 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee'
 'Texas' 'Utah' 'Vermont' 'Virgin Islands' 'Virginia' 'Washington'
 'West Virginia' 'Wisconsin' 'Wyoming']
Admin2  :  ['Autauga' 'Baldwin' 'Barbour' ... 'Uinta' 'Washakie' 'Weston']
UID  :  [84001001 84001003 84001005 ... 84090056 84056043 84056045]
iso2  :  ['US' 'AS' 'GU' 'MP' 'PR' 'VI']
iso3  :  ['USA' 'ASM' 'GUM' 'MNP' 'PRI' 'VIR']
code3  :  [840  16 316 580 630 850]
FIPS  :  [ 1001.  1003.  1005. ... 90056. 56043. 56045.]
Country_Region  :  ['US']
Lat  :  [32.53952745 30.72774991 31.868263   ... 41.2878183  43.90451606
 43.83961191]
Long_  :  [ -86.64408227  -87.72207058  -85.3871286  ... -110.5475782  -107.680187
 -104.5674881 ]
Combined_Key  :  ['Autauga, Alabama, US' 'Baldwin, Alabama, US' 'Barbour, Alabama, US' ...
 'Unassigned, Wyoming, US' 'Washakie, Wyoming, US' 'Weston, Wyoming, US']
Population  :  [ 55869 223234  24686 ...  20226   7805   6927]

In [231]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1155 entries, Province_State to 3/9/23
dtypes: float64(3), int64(1146), object(6)
memory usage: 29.4+ MB

In [232]:
DF.dtypes

Province_State    object
Admin2            object
UID                int64
iso2              object
iso3              object
                   ...
3/5/23             int64
3/6/23             int64
3/7/23             int64
3/8/23             int64
3/9/23             int64
Length: 1155, dtype: object

In [233]:
DF.describe()

,UID,code3,FIPS,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
count,3.342000e+03,3342.000000,3332.000000,3342.000000,3342.000000,3.342000e+03,3342.000000,3342.000000,3342.000000,3342.000000,...,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000
mean,8.342992e+07,834.494913,33043.078932,36.721617,-88.642045,9.960357e+04,0.000299,0.000299,0.000299,0.000299,...,335.103830,335.397068,335.624776,335.776481,335.778576,335.767205,335.781269,335.881508,336.099940,336.276481
std,4.314076e+06,36.487378,18648.808931,9.079322,21.776287,3.241661e+05,0.017298,0.017298,0.017298,0.017298,...,1103.909631,1104.435933,1105.572242,1105.748480,1105.751727,1105.746239,1105.772895,1105.924446,1106.230834,1107.369648
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401811e+07,840.000000,19076.500000,33.896803,-97.803595,9.917250e+03,0.000000,0.000000,0.000000,0.000000,...,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,39.000000,39.000000
50%,8.402921e+07,840.000000,31012.000000,38.005610,-89.488865,2.489150e+04,0.000000,0.000000,0.000000,0.000000,...,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
75%,8.404612e+07,840.000000,47129.500000,41.579255,-82.313398,6.497525e+04,0.000000,0.000000,0.000000,0.000000,...,245.750000,245.750000,245.750000,246.000000,246.000000,246.000000,246.000000,246.750000,246.750000,246.750000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.003911e+07,1.000000,1.000000,1.000000,1.000000,...,35366.000000,35366.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35545.000000

In [234]:
DF.columns[DF.isnull().any()]

Index(['Admin2', 'FIPS'], dtype='object')

In [235]:
print(DF['Admin2'])
print(DF['FIPS'])

0          Autauga
1          Baldwin
2          Barbour
3             Bibb
4           Blount
           ...
3337         Teton
3338         Uinta
3339    Unassigned
3340      Washakie
3341        Weston
Name: Admin2, Length: 3342, dtype: object
0        1001.0
1        1003.0
2        1005.0
3        1007.0
4        1009.0
         ...
3337    56039.0
3338    56041.0
3339    90056.0
3340    56043.0
3341    56045.0
Name: FIPS, Length: 3342, dtype: float64

### Data Cleaning

#### Extraction of the data

In [ ]:
# data = DF["Province_State"]

# col_index_max = DF.shape[0]

# columns = (DF.columns).tolist()

# row_values = []
# my_dict = {}
    
# for i in range(0, col_index_max):
#     input_string = data[i]
    
#     parts = input_string.split('\"')
#     dict = {}

#     for j, part in enumerate(parts, 1):
#         list_part = [elm.replace('\"', '') for elm in part.split(',') if elm]

#         if len(list_part) != 3:
#             my_dict[str(j)] = list_part

#     values_list = [val for sublist in my_dict.values() for val in sublist]

#     row_values.append(tuple(values_list))

    
# cleaned_us_list = [(key, *value) for key, value in zip(columns, row_values)]

# with open(cleaned_dataset_path, 'w') as csvfile:
#     csvwriter = csv.writer(csvfile)
    
#     csvwriter.writerows(cleaned_us_list)

#### Separation and conversion of data

In [240]:
list(DF.columns[10:12])

['Combined_Key', 'Population']

In [243]:
list(DF.columns[8:10])

['Lat', 'Long_']

In [241]:
cat_cols = list(DF.columns[:2]) + list(DF.columns[3:5]) + list(DF.columns[10:12])
DF[cat_cols] = DF[cat_cols].astype('category')

In [242]:
int_cols = [DF.columns[2]] + [DF.columns[5]]
DF[int_cols] = DF[int_cols].astype('int')

In [244]:
float_cols = [DF.columns[6]] + list(DF.columns[8:10])
DF[float_cols] = DF[float_cols].astype('float')

In [245]:
DF['Combined_Key'] = DF['Combined_Key'].astype('str')

In [248]:
DF.columns[12:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1143)

In [249]:
date_cols = DF.columns[12:]

DF[date_cols] = DF[date_cols].astype('int')

In [250]:
print(DF.dtypes)

Province_State    category
Admin2            category
UID                  int64
iso2              category
iso3              category
                    ...
3/5/23               int64
3/6/23               int64
3/7/23               int64
3/8/23               int64
3/9/23               int64
Length: 1155, dtype: object

#### Removing of unnecessary data and null values

In [251]:
print(DF['Admin2'].isnull().any())
print(DF['FIPS'].isnull().any())

True
True

In [252]:
if 'Unknown' not in DF['Admin2'].cat.categories:
    DF['Admin2'] = DF['Admin2'].cat.add_categories('Unknown')

DF['Admin2'] = DF['Admin2'].fillna('Unknown')

In [253]:
median_fips = DF['FIPS'].median()
DF['FIPS'] = DF['FIPS'].fillna(median_fips)

In [ ]:
#SAVE A CSV HERE IF WE WANT TO MAITAIN THE ORIGINAL STRUCTURE

In [254]:
DF.drop(['Combined_Key', 'Country_Region', 'FIPS'], axis=1, inplace=True)

In [255]:
DF.columns

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'Lat',
       'Long_', 'Population', '1/22/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1152)

In [256]:
DF.to_csv(cleaned_dataset_path, index=False)

### Advanced cleaning

In [ ]:
DF_desc = DF[DF.columns[:12]]
DF_date = DF[DF.columns[12:]]

print(DF_desc.head(2))
print("-- * --"*10)
print(DF_date.tail(2))

date_cols = DF.columns[11:]

DF[date_cols] = DF[date_cols].apply(pd.to_datetime)