# EXPLORATORY DATA ANALYSIS OF COVID 19 IN THE WORLD DATASETS

In [110]:
import pandas as pd
import csv
import re

topic = 'deaths'
loc = 'global'
original_dataset_path = f'RAW_{loc}_{topic}.csv'
cleaned_dataset_path = f'CLEANED_{loc}_{topic}.csv'

DF = pd.read_csv(original_dataset_path)

## CONFIRMED CASES

### Data Profiling

In [83]:
DF.head()

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [84]:
DF.shape

(289, 1147)

In [85]:
cols = DF[DF.columns[:4]].columns
cols

Index(['Country/Region', 'Province/State', 'Lat', 'Long'], dtype='object')

In [86]:
DF[cols].duplicated().any()

False

In [87]:
for col in cols:
    print(col," : ", DF[col].unique())

Country/Region  :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Antarctica'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo (Brazzaville)'
 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Diamond Princess' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Korea, North' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'MS Zaandam' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Summer Olympics 2020' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan*' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu' 'US' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'West Bank and Gaza' 'Winter Olympics 2022' 'Yemen'
 'Zambia' 'Zimbabwe']
Province/State  :  [nan 'Australian Capital Territory' 'New South Wales' 'Northern Territory'
 'Queensland' 'South Australia' 'Tasmania' 'Victoria' 'Western Australia'
 'Alberta' 'British Columbia' 'Diamond Princess' 'Grand Princess'
 'Manitoba' 'New Brunswick' 'Newfoundland and Labrador'
 'Northwest Territories' 'Nova Scotia' 'Nunavut' 'Ontario'
 'Prince Edward Island' 'Quebec' 'Repatriated Travellers' 'Saskatchewan'
 'Yukon' 'Anhui' 'Beijing' 'Chongqing' 'Fujian' 'Gansu' 'Guangdong'
 'Guangxi' 'Guizhou' 'Hainan' 'Hebei' 'Heilongjiang' 'Henan' 'Hong Kong'
 'Hubei' 'Hunan' 'Inner Mongolia' 'Jiangsu' 'Jiangxi' 'Jilin' 'Liaoning'
 'Macau' 'Ningxia' 'Qinghai' 'Shaanxi' 'Shandong' 'Shanghai' 'Shanxi'
 'Sichuan' 'Tianjin' 'Tibet' 'Unknown' 'Xinjiang' 'Yunnan' 'Zhejiang'
 'Faroe Islands' 'Greenland' 'French Guiana' 'French Polynesia'
 'Guadeloupe' 'Martinique' 'Mayotte' 'New Caledonia' 'Reunion'
 'Saint Barthelemy' 'Saint Pierre and Miquelon' 'St Martin'
 'Wallis and Futuna' 'Aruba' 'Bonaire, Sint Eustatius and Saba' 'Curacao'
 'Sint Maarten' 'Cook Islands' 'Niue' 'Anguilla' 'Bermuda'
 'British Virgin Islands' 'Cayman Islands' 'Channel Islands'
 'Falkland Islands (Malvinas)' 'Gibraltar' 'Guernsey' 'Isle of Man'
 'Jersey' 'Montserrat' 'Pitcairn Islands'
 'Saint Helena, Ascension and Tristan da Cunha' 'Turks and Caicos Islands']
Lat  :  [ 3.3939110e+01  4.1153300e+01  2.8033900e+01  4.2506300e+01
 -1.1202700e+01 -7.1949900e+01  1.7060800e+01 -3.8416100e+01
  4.0069100e+01 -3.5473500e+01 -3.3868800e+01 -1.2463400e+01
 -2.7469800e+01 -3.4928500e+01 -4.2882100e+01 -3.7813600e+01
 -3.1950500e+01  4.7516200e+01  4.0143100e+01  2.5025885e+01
  2.6027500e+01  2.3685000e+01  1.3193900e+01  5.3709800e+01
  5.0833300e+01  1.7189900e+01  9.3077000e+00  2.7514200e+01
 -1.6290200e+01  4.3915900e+01 -2.2328500e+01 -1.4235000e+01
  4.5353000e+00  4.2733900e+01  1.2238300e+01  2.1916200e+01
 -3.3731000e+00  1.6538800e+01  1.1550000e+01  3.8480000e+00
  5.3933300e+01  5.3726700e+01  0.0000000e+00  5.3760900e+01
  4.6565300e+01  5.3135500e+01  6.4825500e+01  4.4682000e+01
  7.0299800e+01  5.1253800e+01  4.6510700e+01  5.2939900e+01
            nan  6.4282300e+01  6.6111000e+00  1.5454200e+01
 -3.5675100e+01  3.1825700e+01  4.0182400e+01  3.0057200e+01
  2.6078900e+01  3.5751800e+01  2.3341700e+01  2.3829800e+01
  2.6815400e+01  1.9195900e+01  3.9549000e+01  4.7862000e+01
  3.7895700e+01  2.2300000e+01  3.0975600e+01  2.7610400e+01
  4.4093500e+01  3.2971100e+01  2.7614000e+01  4.3666100e+01
  4.1295600e+01  2.2166700e+01  3.7269200e+01  3.5745200e+01
  3.5191700e+01  3.6342700e+01  3.1202000e+01  3.7577700e+01
  3.0617100e+01  3.9305400e+01  3.1692700e+01  4.1112900e+01
  2.4974000e+01  2.9183200e+01  4.5709000e+00 -1.1645500e+01
 -2.2800000e-01 -4.0383000e+00  9.7489000e+00  7.5400000e+00
  4.5100000e+01  2.1521757e+01  3.5126400e+01  4.9817500e+01
  6.1892600e+01  7.1706900e+01  5.6263900e+01  1.1825100e+01
  1.5415000e+01  1.8735700e+01 -1.8312000e+00  2.6820553e+01
  1.3794200e+01  1.6508000e+00  1.5179400e+01  5.8595300e+01
 -2.6522500e+01  9.1450000e+00 -1.7713400e+01  6.1924110e+01
  3.9339000e+00 -1.7679700e+01  1.6265000e+01  1.4641500e+01
 -1.2827500e+01 -2.0904305e+01 -2.1115100e+01  1.7900000e+01
  4.6885200e+01  1.8070800e+01 -1.4293800e+01  4.6227600e+01
 -8.0370000e-01  1.3443200e+01  4.2315400e+01  5.1165691e+01
  7.9465000e+00  3.9074200e+01  1.2116500e+01  1.5783500e+01
  9.9456000e+00  1.1803700e+01  4.8604160e+00  1.8971200e+01
  4.1902900e+01  1.5200000e+01  4.7162500e+01  6.4963100e+01
  2.0593684e+01 -7.8930000e-01  3.2427908e+01  3.3223191e+01
  5.3142400e+01  3.1046051e+01  4.1871940e+01  1.8109600e+01
  3.6204824e+01  3.1240000e+01  4.8019600e+01 -2.3600000e-02
 -3.3704000e+00  4.0339900e+01  3.5907757e+01  4.2602636e+01
  2.9311660e+01  4.1204380e+01  1.9856270e+01  5.6879600e+01
  3.3854700e+01 -2.9610000e+01  6.4280550e+00  2.6335100e+01
  4.7140000e+01  5.5169400e+01  4.9815300e+01 -1.8766947e+01
 -1.3254300e+01  4.2104840e+00  3.2028000e+00  1.7570692e+01
  3.5937500e+01  7.1315000e+00  2.1007900e+01 -2.0348404e+01
  2.3634500e+01  7.4256000e+00  4.7411600e+01  4.3733300e+01
  4.6862500e+01  4.2708678e+01  3.1791700e+01 -1.8665695e+01
 -2.2957600e+01 -5.2280000e-01  2.8166700e+01  1.2521100e+01
  1.2178400e+01  1.2169600e+01  1.8042500e+01  5.2132600e+01
 -2.1236700e+01 -1.9054400e+01 -4.0900600e+01  1.2865416e+01
  1.7607789e+01  9.0820000e+00  4.1608600e+01  6.0472000e+01
  2.1512583e+01  3.0375300e+01  7.5150000e+00  8.5380000e+00
 -6.3149930e+00 -2.3442500e+01 -9.1900000e+00  1.2879721e+01
  5.1919400e+01  3.9399900e+01  2.5354800e+01  4.5943200e+01
  6.1524010e+01 -1.9403000e+00  1.7357822e+01  1.3909400e+01
  1.2984300e+01 -1.3759000e+01  4.3942400e+01  1.8640000e-01
  2.3885942e+01  1.4497400e+01  4.4016500e+01 -4.6796000e+00
  8.4605550e+00  1.2833000e+00  4.8669000e+01  4.6151200e+01
 -9.6457000e+00  5.1521490e+00 -3.0559500e+01  6.8770000e+00
  4.0463667e+01  7.8730540e+00  1.2862800e+01  3.5649100e+01
  3.9193000e+00  6.0128161e+01  4.6818200e+01  3.4802075e+01
  2.3700000e+01  3.8861000e+01 -6.3690280e+00  1.5870032e+01
 -8.8742170e+00  8.6195000e+00 -2.1179000e+01  1.0691800e+01
  3.3886917e+01  3.8963700e+01 -7.1095000e+00  4.0000000e+01
  1.3733330e+00  4.8379400e+01  2.3424076e+01  1.8220600e+01
  3.2307800e+01  1.8420700e+01  1.9313300e+01  4.9372300e+01
 -5.1796300e+01  3.6140800e+01  4.9448196e+01  5.4236100e+01
  4.9213800e+01  1.6742498e+01 -2.4376800e+01 -7.9467000e+00
  2.1694000e+01  5.5378100e+01 -3.2522800e+01  4.1377491e+01
 -1.5376700e+01  6.4238000e+00  1.4058324e+01  3.1952200e+01
  3.9904200e+01  1.5552727e+01 -1.3133897e+01 -1.9015438e+01]
Long  :  [  67.709953   20.1683      1.6596      1.5218     17.8739     23.347
  -61.7964    -63.6167     45.0382    149.0124    151.2093    130.8456
  153.0251    138.6007    147.3272    144.9631    115.8605     14.5501
   47.5769    -78.035889   50.55       90.3563    -59.5432     27.9534
    4.469936  -88.4976      2.3158     90.4336    -63.5887     17.6791
   24.6849    -51.9253    114.7277     25.4858     -1.5616     95.956
   29.9189    -23.0418    104.9167     11.5021   -116.5765   -127.6476
    0.        -98.8139    -66.4619    -57.6604   -124.8457    -63.7443
  -83.1076    -85.3232    -63.4168    -73.5491           nan -106.4509
 -135.         20.9394     18.7322    -71.543     117.2264    116.4142
  107.874     117.9874    104.2861    113.4244    108.7881    106.8748
  109.7453    116.1306    127.7615    114.9042    114.2       112.2707
  111.7088    113.9448    119.455     115.7221    126.1923    122.6085
  113.55      106.1655     95.9956    108.8701    118.1498    121.4491
  112.2922    102.7103    117.323      88.0924     85.2401    101.487
  120.0934    -74.2973     43.3333     15.8277     21.7587    -83.7534
   -5.5471     15.2       -77.781167   33.4299     15.473      -6.9118
  -42.6043      9.5018     42.5903    -61.371     -70.1627    -78.1834
   30.802498  -88.8965     10.2679     39.7823     25.0136     31.4659
   40.4897    178.065      25.748151  -53.1258    149.4068    -61.551
  -61.0242     45.166244  165.618042   55.5364    -62.8333    -56.3159
  -63.0501   -178.1165      2.2137     11.6094    -15.3101     43.3569
   10.451526   -1.0232     21.8243    -61.679     -90.2308     -9.6966
  -15.1804    -58.93018   -72.2852     12.4534    -86.2419     19.5033
  -19.0208     78.96288   113.9213     53.688046   43.679291   -7.6921
   34.851612   12.56738   -77.2975    138.252924   36.51       66.9237
   37.9062   -168.734     127.5101    127.766922   20.902977   47.481766
   74.766098  102.495496   24.6032     35.8623     28.2336     -9.429499
   17.228331    9.55       23.8813      6.1296     46.869107   34.3015
  101.975766   73.2207     -3.996166   14.3754    171.1845    -10.9408
   57.552152 -102.5528    150.5508     28.3699      7.4167    103.8467
   19.37439    -7.0926     35.529562   18.4904    166.9315     84.25
  -69.9683    -68.2385    -68.99      -63.0548      5.2913   -159.7777
 -169.8672    174.886     -85.207229    8.081666    8.6753     21.7453
    8.4689     55.923255   69.3451    134.5825    -80.7821    143.95555
  -58.4438    -75.0152    121.774017   19.1451     -8.2245     51.1839
   24.9668    105.318756   29.8739    -62.782998  -60.9789    -61.2872
 -172.1046     12.4578      6.6131     45.079162  -14.4524     21.0059
   55.492     -11.779889  103.8333     19.699      14.9955    160.1562
   46.199616   22.9375     31.307      -3.74922    80.771797   30.2176
  139.7737    -56.0278     18.643501    8.2275     38.996815  121.
   71.2761     34.888822  100.992541  125.727539    0.8248   -175.1982
  -61.2225      9.537499   35.2433    177.6493   -100.         32.290275
   31.1656     53.847818  -63.0686    -64.7505    -64.64      -81.2546
   -2.3644    -59.5236     -5.3536     -2.58949    -4.5481     -2.1358
  -62.187366 -128.3242    -14.3559    -71.7979     -3.436     -55.7658
   64.585262  166.9592    -66.5897    108.277199   35.2332    116.4074
   48.516388   27.849332   29.154857]

In [88]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1147 entries, Country/Region to 3/9/23
dtypes: float64(2), int64(1143), object(2)
memory usage: 2.5+ MB

In [89]:
DF.dtypes

Country/Region     object
Province/State     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
3/5/23              int64
3/6/23              int64
3/7/23              int64
3/8/23              int64
3/9/23              int64
Length: 1147, dtype: object

In [90]:
DF.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
count,287.000000,287.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,...,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02
mean,19.718719,22.182084,1.927336,2.273356,3.266436,4.972318,7.335640,10.134948,19.307958,21.346021,...,2.336755e+06,2.337519e+06,2.338173e+06,2.338805e+06,2.338992e+06,2.339187e+06,2.339387e+06,2.339839e+06,2.340460e+06,2.341073e+06
std,25.956609,77.870931,26.173664,26.270191,32.707271,45.523871,63.623197,85.724481,210.329649,211.628535,...,8.506608e+06,8.511285e+06,8.514488e+06,8.518031e+06,8.518408e+06,8.518645e+06,8.519346e+06,8.521641e+06,8.524968e+06,8.527765e+06
min,-71.949900,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.072192,-32.823050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04
50%,21.512583,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05
75%,40.401784,89.224350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.051998e+06,1.052122e+06,1.052247e+06,1.052382e+06,1.052519e+06,1.052664e+06,1.052664e+06,1.052926e+06,1.053068e+06,1.053213e+06
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.034435e+08,1.035339e+08,1.035898e+08,1.036487e+08,1.036508e+08,1.036470e+08,1.036555e+08,1.036909e+08,1.037558e+08,1.038027e+08

In [91]:
DF.columns[DF.isnull().any()]

Index(['Province/State', 'Lat', 'Long'], dtype='object')

In [92]:
print(DF['Province/State'])
print(DF['Lat'])
print(DF['Long'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
284    NaN
285    NaN
286    NaN
287    NaN
288    NaN
Name: Province/State, Length: 289, dtype: object
0      33.939110
1      41.153300
2      28.033900
3      42.506300
4     -11.202700
         ...
284    31.952200
285    39.904200
286    15.552727
287   -13.133897
288   -19.015438
Name: Lat, Length: 289, dtype: float64
0       67.709953
1       20.168300
2        1.659600
3        1.521800
4       17.873900
          ...
284     35.233200
285    116.407400
286     48.516388
287     27.849332
288     29.154857
Name: Long, Length: 289, dtype: float64

### Data Cleaning

#### Extraction of the data

In [ ]:
# data = DF["Province_State"]

# col_index_max = DF.shape[0]

# columns = (DF.columns).tolist()

# row_values = []
# my_dict = {}
    
# for i in range(0, col_index_max):
#     input_string = data[i]
    
#     parts = input_string.split('\"')
#     dict = {}

#     for j, part in enumerate(parts, 1):
#         list_part = [elm.replace('\"', '') for elm in part.split(',') if elm]

#         if len(list_part) != 3:
#             my_dict[str(j)] = list_part

#     values_list = [val for sublist in my_dict.values() for val in sublist]

#     row_values.append(tuple(values_list))

    
# cleaned_us_list = [(key, *value) for key, value in zip(columns, row_values)]

# with open(cleaned_dataset_path, 'w') as csvfile:
#     csvwriter = csv.writer(csvfile)
    
#     csvwriter.writerows(cleaned_us_list)

#### Separation and conversion of data

In [93]:
DF.columns[:2]

Index(['Country/Region', 'Province/State'], dtype='object')

In [94]:
cat_cols = list(DF.columns[:2])
DF[cat_cols] = DF[cat_cols].astype('category')

In [95]:
DF.columns[2:4]

Index(['Lat', 'Long'], dtype='object')

In [96]:
float_cols = list(DF.columns[2:4])
DF[float_cols] = DF[float_cols].astype('float')

In [97]:
DF.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1143)

In [98]:
date_cols = DF.columns[4:]

DF[date_cols] = DF[date_cols].astype('int')

In [99]:
print(DF.dtypes)

Country/Region    category
Province/State    category
Lat                float64
Long               float64
1/22/20              int64
                    ...
3/5/23               int64
3/6/23               int64
3/7/23               int64
3/8/23               int64
3/9/23               int64
Length: 1147, dtype: object

#### Removing of unnecessary data and null values

In [105]:
print(DF['Province/State'].isnull().any())
print(DF['Lat'].isnull().any())
print(DF['Long'].isnull().any())

False
False
False

In [101]:
if 'Unknown' not in DF['Province/State'].cat.categories:
    DF['Province/State'] = DF['Province/State'].cat.add_categories('Unknown')

DF['Province/State'] = DF['Province/State'].fillna('Unknown')

In [102]:
    mask = DF['Lat'].isnull()

    result = DF.loc[mask, ['Lat', 'Long', 'Country/Region']]

    print(result)

    Lat  Long Country/Region
53  NaN   NaN         Canada
89  NaN   NaN          China

In [103]:
!pip install geopy

Requirement already satisfied: geopy in /opt/conda/lib/python3.7/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/conda/lib/python3.7/site-packages (from geopy) (2.0)

In [104]:
import numpy as np
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")

def geocode_location(row):
    address = f"{row['Country/Region']}"
    try:
        location = geolocator.geocode(address)
        if location:
            return pd.Series([location.latitude, location.longitude], index=['Lat', 'Long'])
        else:
            print(f"Geocoding failed for address: {address}")
            return pd.Series([np.nan, np.nan], index=['Lat', 'Long'])
    except Exception as e:
        print(f"Error geocoding {address}: {e}")
        return pd.Series([np.nan, np.nan], index=['Lat', 'Long'])


missing_lat_long = DF[DF['Lat'].isnull()]

geocoded_values = missing_lat_long.apply(geocode_location, axis=1)

DF.loc[missing_lat_long.index, ['Lat', 'Long']] = geocoded_values

print(DF)

           Country/Region Province/State        Lat        Long  1/22/20  \
0             Afghanistan        Unknown  33.939110   67.709953        0
1                 Albania        Unknown  41.153300   20.168300        0
2                 Algeria        Unknown  28.033900    1.659600        0
3                 Andorra        Unknown  42.506300    1.521800        0
4                  Angola        Unknown -11.202700   17.873900        0
..                    ...            ...        ...         ...      ...
284    West Bank and Gaza        Unknown  31.952200   35.233200        0
285  Winter Olympics 2022        Unknown  39.904200  116.407400        0
286                 Yemen        Unknown  15.552727   48.516388        0
287                Zambia        Unknown -13.133897   27.849332        0
288              Zimbabwe        Unknown -19.015438   29.154857        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  3/1/23  \
0          0        0        0        0        0  ...   209322  209340
1          0        0        0        0        0  ...   334391  334408
2          0        0        0        0        0  ...   271441  271448
3          0        0        0        0        0  ...    47866   47875
4          0        0        0        0        0  ...   105255  105277
..       ...      ...      ...      ...      ...  ...      ...     ...
284        0        0        0        0        0  ...   703228  703228
285        0        0        0        0        0  ...      535     535
286        0        0        0        0        0  ...    11945   11945
287        0        0        0        0        0  ...   343012  343012
288        0        0        0        0        0  ...   263921  264127

     3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0    209358  209362  209369  209390  209406  209436  209451  209451
1    334408  334427  334427  334427  334427  334427  334443  334457
2    271463  271469  271469  271477  271477  271490  271494  271496
3     47875   47875   47875   47875   47875   47875   47890   47890
4    105277  105277  105277  105277  105277  105277  105288  105288
..      ...     ...     ...     ...     ...     ...     ...     ...
284  703228  703228  703228  703228  703228  703228  703228  703228
285     535     535     535     535     535     535     535     535
286   11945   11945   11945   11945   11945   11945   11945   11945
287  343079  343079  343079  343135  343135  343135  343135  343135
288  264127  264127  264127  264127  264127  264127  264276  264276

[289 rows x 1147 columns]

In [107]:
print(DF[DF['Lat'].isnull() & DF['Long'].notnull()])
print(DF[DF['Long'].isnull() & DF['Lat'].notnull()])

Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 1147 columns]
Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 1147 columns]

In [108]:
DF.columns

Index(['Country/Region', 'Province/State', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

In [109]:
DF.to_csv(cleaned_dataset_path, index=False)

### Advanced cleaning / Preprocessing

In [ ]:
DF_desc = DF[DF.columns[:11]]
DF_date = DF[DF.columns[11:]]

print(DF_desc.head(2))
print("-- * --"*10)
print(DF_date.tail(2))

date_cols = DF.columns[11:]

DF[date_cols] = DF[date_cols].apply(pd.to_datetime)

In this phase, each variable in the dataset is analyzed individually to understand its distribution, detect outliers, etc. The output of this phase is a set of statistics and visualizations for each variable.

### Univariate Analysis:

### Bivariate/Multivariate Analysis:

Here, the relationships between two or more variables are analyzed. This could involve creating scatter plots, correlation matrices, etc. The output of this phase is an understanding of the relationships between variables.

### Data Visualization:

This phase involves creating visual representations of the data to understand patterns, trends, and relationships in the data. The output of this phase is a set of plots and charts that represent the data.

### Insights Generation:

Based on the above analyses, meaningful insights are generated from the data. The output of this phase is a set of insights that can guide further data analysis or predictive modeling.

### Data Profiling

## DEATHS

### Data Profiling

In [83]:
DF.head()

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [84]:
DF.shape

(289, 1147)

In [85]:
cols = DF[DF.columns[:4]].columns
cols

Index(['Country/Region', 'Province/State', 'Lat', 'Long'], dtype='object')

In [86]:
DF[cols].duplicated().any()

False

In [87]:
for col in cols:
    print(col," : ", DF[col].unique())

Country/Region  :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Antarctica'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo (Brazzaville)'
 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Diamond Princess' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Korea, North' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'MS Zaandam' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Summer Olympics 2020' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan*' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu' 'US' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'West Bank and Gaza' 'Winter Olympics 2022' 'Yemen'
 'Zambia' 'Zimbabwe']
Province/State  :  [nan 'Australian Capital Territory' 'New South Wales' 'Northern Territory'
 'Queensland' 'South Australia' 'Tasmania' 'Victoria' 'Western Australia'
 'Alberta' 'British Columbia' 'Diamond Princess' 'Grand Princess'
 'Manitoba' 'New Brunswick' 'Newfoundland and Labrador'
 'Northwest Territories' 'Nova Scotia' 'Nunavut' 'Ontario'
 'Prince Edward Island' 'Quebec' 'Repatriated Travellers' 'Saskatchewan'
 'Yukon' 'Anhui' 'Beijing' 'Chongqing' 'Fujian' 'Gansu' 'Guangdong'
 'Guangxi' 'Guizhou' 'Hainan' 'Hebei' 'Heilongjiang' 'Henan' 'Hong Kong'
 'Hubei' 'Hunan' 'Inner Mongolia' 'Jiangsu' 'Jiangxi' 'Jilin' 'Liaoning'
 'Macau' 'Ningxia' 'Qinghai' 'Shaanxi' 'Shandong' 'Shanghai' 'Shanxi'
 'Sichuan' 'Tianjin' 'Tibet' 'Unknown' 'Xinjiang' 'Yunnan' 'Zhejiang'
 'Faroe Islands' 'Greenland' 'French Guiana' 'French Polynesia'
 'Guadeloupe' 'Martinique' 'Mayotte' 'New Caledonia' 'Reunion'
 'Saint Barthelemy' 'Saint Pierre and Miquelon' 'St Martin'
 'Wallis and Futuna' 'Aruba' 'Bonaire, Sint Eustatius and Saba' 'Curacao'
 'Sint Maarten' 'Cook Islands' 'Niue' 'Anguilla' 'Bermuda'
 'British Virgin Islands' 'Cayman Islands' 'Channel Islands'
 'Falkland Islands (Malvinas)' 'Gibraltar' 'Guernsey' 'Isle of Man'
 'Jersey' 'Montserrat' 'Pitcairn Islands'
 'Saint Helena, Ascension and Tristan da Cunha' 'Turks and Caicos Islands']
Lat  :  [ 3.3939110e+01  4.1153300e+01  2.8033900e+01  4.2506300e+01
 -1.1202700e+01 -7.1949900e+01  1.7060800e+01 -3.8416100e+01
  4.0069100e+01 -3.5473500e+01 -3.3868800e+01 -1.2463400e+01
 -2.7469800e+01 -3.4928500e+01 -4.2882100e+01 -3.7813600e+01
 -3.1950500e+01  4.7516200e+01  4.0143100e+01  2.5025885e+01
  2.6027500e+01  2.3685000e+01  1.3193900e+01  5.3709800e+01
  5.0833300e+01  1.7189900e+01  9.3077000e+00  2.7514200e+01
 -1.6290200e+01  4.3915900e+01 -2.2328500e+01 -1.4235000e+01
  4.5353000e+00  4.2733900e+01  1.2238300e+01  2.1916200e+01
 -3.3731000e+00  1.6538800e+01  1.1550000e+01  3.8480000e+00
  5.3933300e+01  5.3726700e+01  0.0000000e+00  5.3760900e+01
  4.6565300e+01  5.3135500e+01  6.4825500e+01  4.4682000e+01
  7.0299800e+01  5.1253800e+01  4.6510700e+01  5.2939900e+01
            nan  6.4282300e+01  6.6111000e+00  1.5454200e+01
 -3.5675100e+01  3.1825700e+01  4.0182400e+01  3.0057200e+01
  2.6078900e+01  3.5751800e+01  2.3341700e+01  2.3829800e+01
  2.6815400e+01  1.9195900e+01  3.9549000e+01  4.7862000e+01
  3.7895700e+01  2.2300000e+01  3.0975600e+01  2.7610400e+01
  4.4093500e+01  3.2971100e+01  2.7614000e+01  4.3666100e+01
  4.1295600e+01  2.2166700e+01  3.7269200e+01  3.5745200e+01
  3.5191700e+01  3.6342700e+01  3.1202000e+01  3.7577700e+01
  3.0617100e+01  3.9305400e+01  3.1692700e+01  4.1112900e+01
  2.4974000e+01  2.9183200e+01  4.5709000e+00 -1.1645500e+01
 -2.2800000e-01 -4.0383000e+00  9.7489000e+00  7.5400000e+00
  4.5100000e+01  2.1521757e+01  3.5126400e+01  4.9817500e+01
  6.1892600e+01  7.1706900e+01  5.6263900e+01  1.1825100e+01
  1.5415000e+01  1.8735700e+01 -1.8312000e+00  2.6820553e+01
  1.3794200e+01  1.6508000e+00  1.5179400e+01  5.8595300e+01
 -2.6522500e+01  9.1450000e+00 -1.7713400e+01  6.1924110e+01
  3.9339000e+00 -1.7679700e+01  1.6265000e+01  1.4641500e+01
 -1.2827500e+01 -2.0904305e+01 -2.1115100e+01  1.7900000e+01
  4.6885200e+01  1.8070800e+01 -1.4293800e+01  4.6227600e+01
 -8.0370000e-01  1.3443200e+01  4.2315400e+01  5.1165691e+01
  7.9465000e+00  3.9074200e+01  1.2116500e+01  1.5783500e+01
  9.9456000e+00  1.1803700e+01  4.8604160e+00  1.8971200e+01
  4.1902900e+01  1.5200000e+01  4.7162500e+01  6.4963100e+01
  2.0593684e+01 -7.8930000e-01  3.2427908e+01  3.3223191e+01
  5.3142400e+01  3.1046051e+01  4.1871940e+01  1.8109600e+01
  3.6204824e+01  3.1240000e+01  4.8019600e+01 -2.3600000e-02
 -3.3704000e+00  4.0339900e+01  3.5907757e+01  4.2602636e+01
  2.9311660e+01  4.1204380e+01  1.9856270e+01  5.6879600e+01
  3.3854700e+01 -2.9610000e+01  6.4280550e+00  2.6335100e+01
  4.7140000e+01  5.5169400e+01  4.9815300e+01 -1.8766947e+01
 -1.3254300e+01  4.2104840e+00  3.2028000e+00  1.7570692e+01
  3.5937500e+01  7.1315000e+00  2.1007900e+01 -2.0348404e+01
  2.3634500e+01  7.4256000e+00  4.7411600e+01  4.3733300e+01
  4.6862500e+01  4.2708678e+01  3.1791700e+01 -1.8665695e+01
 -2.2957600e+01 -5.2280000e-01  2.8166700e+01  1.2521100e+01
  1.2178400e+01  1.2169600e+01  1.8042500e+01  5.2132600e+01
 -2.1236700e+01 -1.9054400e+01 -4.0900600e+01  1.2865416e+01
  1.7607789e+01  9.0820000e+00  4.1608600e+01  6.0472000e+01
  2.1512583e+01  3.0375300e+01  7.5150000e+00  8.5380000e+00
 -6.3149930e+00 -2.3442500e+01 -9.1900000e+00  1.2879721e+01
  5.1919400e+01  3.9399900e+01  2.5354800e+01  4.5943200e+01
  6.1524010e+01 -1.9403000e+00  1.7357822e+01  1.3909400e+01
  1.2984300e+01 -1.3759000e+01  4.3942400e+01  1.8640000e-01
  2.3885942e+01  1.4497400e+01  4.4016500e+01 -4.6796000e+00
  8.4605550e+00  1.2833000e+00  4.8669000e+01  4.6151200e+01
 -9.6457000e+00  5.1521490e+00 -3.0559500e+01  6.8770000e+00
  4.0463667e+01  7.8730540e+00  1.2862800e+01  3.5649100e+01
  3.9193000e+00  6.0128161e+01  4.6818200e+01  3.4802075e+01
  2.3700000e+01  3.8861000e+01 -6.3690280e+00  1.5870032e+01
 -8.8742170e+00  8.6195000e+00 -2.1179000e+01  1.0691800e+01
  3.3886917e+01  3.8963700e+01 -7.1095000e+00  4.0000000e+01
  1.3733330e+00  4.8379400e+01  2.3424076e+01  1.8220600e+01
  3.2307800e+01  1.8420700e+01  1.9313300e+01  4.9372300e+01
 -5.1796300e+01  3.6140800e+01  4.9448196e+01  5.4236100e+01
  4.9213800e+01  1.6742498e+01 -2.4376800e+01 -7.9467000e+00
  2.1694000e+01  5.5378100e+01 -3.2522800e+01  4.1377491e+01
 -1.5376700e+01  6.4238000e+00  1.4058324e+01  3.1952200e+01
  3.9904200e+01  1.5552727e+01 -1.3133897e+01 -1.9015438e+01]
Long  :  [  67.709953   20.1683      1.6596      1.5218     17.8739     23.347
  -61.7964    -63.6167     45.0382    149.0124    151.2093    130.8456
  153.0251    138.6007    147.3272    144.9631    115.8605     14.5501
   47.5769    -78.035889   50.55       90.3563    -59.5432     27.9534
    4.469936  -88.4976      2.3158     90.4336    -63.5887     17.6791
   24.6849    -51.9253    114.7277     25.4858     -1.5616     95.956
   29.9189    -23.0418    104.9167     11.5021   -116.5765   -127.6476
    0.        -98.8139    -66.4619    -57.6604   -124.8457    -63.7443
  -83.1076    -85.3232    -63.4168    -73.5491           nan -106.4509
 -135.         20.9394     18.7322    -71.543     117.2264    116.4142
  107.874     117.9874    104.2861    113.4244    108.7881    106.8748
  109.7453    116.1306    127.7615    114.9042    114.2       112.2707
  111.7088    113.9448    119.455     115.7221    126.1923    122.6085
  113.55      106.1655     95.9956    108.8701    118.1498    121.4491
  112.2922    102.7103    117.323      88.0924     85.2401    101.487
  120.0934    -74.2973     43.3333     15.8277     21.7587    -83.7534
   -5.5471     15.2       -77.781167   33.4299     15.473      -6.9118
  -42.6043      9.5018     42.5903    -61.371     -70.1627    -78.1834
   30.802498  -88.8965     10.2679     39.7823     25.0136     31.4659
   40.4897    178.065      25.748151  -53.1258    149.4068    -61.551
  -61.0242     45.166244  165.618042   55.5364    -62.8333    -56.3159
  -63.0501   -178.1165      2.2137     11.6094    -15.3101     43.3569
   10.451526   -1.0232     21.8243    -61.679     -90.2308     -9.6966
  -15.1804    -58.93018   -72.2852     12.4534    -86.2419     19.5033
  -19.0208     78.96288   113.9213     53.688046   43.679291   -7.6921
   34.851612   12.56738   -77.2975    138.252924   36.51       66.9237
   37.9062   -168.734     127.5101    127.766922   20.902977   47.481766
   74.766098  102.495496   24.6032     35.8623     28.2336     -9.429499
   17.228331    9.55       23.8813      6.1296     46.869107   34.3015
  101.975766   73.2207     -3.996166   14.3754    171.1845    -10.9408
   57.552152 -102.5528    150.5508     28.3699      7.4167    103.8467
   19.37439    -7.0926     35.529562   18.4904    166.9315     84.25
  -69.9683    -68.2385    -68.99      -63.0548      5.2913   -159.7777
 -169.8672    174.886     -85.207229    8.081666    8.6753     21.7453
    8.4689     55.923255   69.3451    134.5825    -80.7821    143.95555
  -58.4438    -75.0152    121.774017   19.1451     -8.2245     51.1839
   24.9668    105.318756   29.8739    -62.782998  -60.9789    -61.2872
 -172.1046     12.4578      6.6131     45.079162  -14.4524     21.0059
   55.492     -11.779889  103.8333     19.699      14.9955    160.1562
   46.199616   22.9375     31.307      -3.74922    80.771797   30.2176
  139.7737    -56.0278     18.643501    8.2275     38.996815  121.
   71.2761     34.888822  100.992541  125.727539    0.8248   -175.1982
  -61.2225      9.537499   35.2433    177.6493   -100.         32.290275
   31.1656     53.847818  -63.0686    -64.7505    -64.64      -81.2546
   -2.3644    -59.5236     -5.3536     -2.58949    -4.5481     -2.1358
  -62.187366 -128.3242    -14.3559    -71.7979     -3.436     -55.7658
   64.585262  166.9592    -66.5897    108.277199   35.2332    116.4074
   48.516388   27.849332   29.154857]

In [88]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1147 entries, Country/Region to 3/9/23
dtypes: float64(2), int64(1143), object(2)
memory usage: 2.5+ MB

In [89]:
DF.dtypes

Country/Region     object
Province/State     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
3/5/23              int64
3/6/23              int64
3/7/23              int64
3/8/23              int64
3/9/23              int64
Length: 1147, dtype: object

In [90]:
DF.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
count,287.000000,287.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,...,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02,2.890000e+02
mean,19.718719,22.182084,1.927336,2.273356,3.266436,4.972318,7.335640,10.134948,19.307958,21.346021,...,2.336755e+06,2.337519e+06,2.338173e+06,2.338805e+06,2.338992e+06,2.339187e+06,2.339387e+06,2.339839e+06,2.340460e+06,2.341073e+06
std,25.956609,77.870931,26.173664,26.270191,32.707271,45.523871,63.623197,85.724481,210.329649,211.628535,...,8.506608e+06,8.511285e+06,8.514488e+06,8.518031e+06,8.518408e+06,8.518645e+06,8.519346e+06,8.521641e+06,8.524968e+06,8.527765e+06
min,-71.949900,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.072192,-32.823050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04,1.456700e+04
50%,21.512583,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05,1.032480e+05
75%,40.401784,89.224350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.051998e+06,1.052122e+06,1.052247e+06,1.052382e+06,1.052519e+06,1.052664e+06,1.052664e+06,1.052926e+06,1.053068e+06,1.053213e+06
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.034435e+08,1.035339e+08,1.035898e+08,1.036487e+08,1.036508e+08,1.036470e+08,1.036555e+08,1.036909e+08,1.037558e+08,1.038027e+08

In [91]:
DF.columns[DF.isnull().any()]

Index(['Province/State', 'Lat', 'Long'], dtype='object')

In [92]:
print(DF['Province/State'])
print(DF['Lat'])
print(DF['Long'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
284    NaN
285    NaN
286    NaN
287    NaN
288    NaN
Name: Province/State, Length: 289, dtype: object
0      33.939110
1      41.153300
2      28.033900
3      42.506300
4     -11.202700
         ...
284    31.952200
285    39.904200
286    15.552727
287   -13.133897
288   -19.015438
Name: Lat, Length: 289, dtype: float64
0       67.709953
1       20.168300
2        1.659600
3        1.521800
4       17.873900
          ...
284     35.233200
285    116.407400
286     48.516388
287     27.849332
288     29.154857
Name: Long, Length: 289, dtype: float64

### Data Cleaning

#### Extraction of the data

In [ ]:
# data = DF["Province_State"]

# col_index_max = DF.shape[0]

# columns = (DF.columns).tolist()

# row_values = []
# my_dict = {}
    
# for i in range(0, col_index_max):
#     input_string = data[i]
    
#     parts = input_string.split('\"')
#     dict = {}

#     for j, part in enumerate(parts, 1):
#         list_part = [elm.replace('\"', '') for elm in part.split(',') if elm]

#         if len(list_part) != 3:
#             my_dict[str(j)] = list_part

#     values_list = [val for sublist in my_dict.values() for val in sublist]

#     row_values.append(tuple(values_list))

    
# cleaned_us_list = [(key, *value) for key, value in zip(columns, row_values)]

# with open(cleaned_dataset_path, 'w') as csvfile:
#     csvwriter = csv.writer(csvfile)
    
#     csvwriter.writerows(cleaned_us_list)

#### Separation and conversion of data

In [111]:
DF.columns[:2]

Index(['Country/Region', 'Province/State'], dtype='object')

In [112]:
cat_cols = list(DF.columns[:2])
DF[cat_cols] = DF[cat_cols].astype('category')

In [113]:
DF.columns[2:4]

Index(['Lat', 'Long'], dtype='object')

In [114]:
float_cols = list(DF.columns[2:4])
DF[float_cols] = DF[float_cols].astype('float')

In [115]:
DF.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1143)

In [116]:
date_cols = DF.columns[4:]

DF[date_cols] = DF[date_cols].astype('int')

In [117]:
print(DF.dtypes)

Country/Region    category
Province/State    category
Lat                float64
Long               float64
1/22/20              int64
                    ...
3/5/23               int64
3/6/23               int64
3/7/23               int64
3/8/23               int64
3/9/23               int64
Length: 1147, dtype: object

#### Removing of unnecessary data and null values

In [118]:
print(DF['Province/State'].isnull().any())
print(DF['Lat'].isnull().any())
print(DF['Long'].isnull().any())

True
True
True

In [119]:
if 'Unknown' not in DF['Province/State'].cat.categories:
    DF['Province/State'] = DF['Province/State'].cat.add_categories('Unknown')

DF['Province/State'] = DF['Province/State'].fillna('Unknown')

In [120]:
mask = DF['Lat'].isnull()

result = DF.loc[mask, ['Lat', 'Long', 'Country/Region']]

print(result)

    Lat  Long Country/Region
53  NaN   NaN         Canada
89  NaN   NaN          China

In [121]:
!pip install geopy

Requirement already satisfied: geopy in /opt/conda/lib/python3.7/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/conda/lib/python3.7/site-packages (from geopy) (2.0)

In [122]:
import numpy as np
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")

def geocode_location(row):
    address = f"{row['Country/Region']}"
    try:
        location = geolocator.geocode(address)
        if location:
            return pd.Series([location.latitude, location.longitude], index=['Lat', 'Long'])
        else:
            print(f"Geocoding failed for address: {address}")
            return pd.Series([np.nan, np.nan], index=['Lat', 'Long'])
    except Exception as e:
        print(f"Error geocoding {address}: {e}")
        return pd.Series([np.nan, np.nan], index=['Lat', 'Long'])


missing_lat_long = DF[DF['Lat'].isnull()]

geocoded_values = missing_lat_long.apply(geocode_location, axis=1)

DF.loc[missing_lat_long.index, ['Lat', 'Long']] = geocoded_values

print(DF)

Error geocoding Canada: Non-successful status code 403
Error geocoding China: Non-successful status code 403
           Country/Region Province/State        Lat        Long  1/22/20  \
0             Afghanistan        Unknown  33.939110   67.709953        0
1                 Albania        Unknown  41.153300   20.168300        0
2                 Algeria        Unknown  28.033900    1.659600        0
3                 Andorra        Unknown  42.506300    1.521800        0
4                  Angola        Unknown -11.202700   17.873900        0
..                    ...            ...        ...         ...      ...
284    West Bank and Gaza        Unknown  31.952200   35.233200        0
285  Winter Olympics 2022        Unknown  39.904200  116.407400        0
286                 Yemen        Unknown  15.552727   48.516388        0
287                Zambia        Unknown -13.133897   27.849332        0
288              Zimbabwe        Unknown -19.015438   29.154857        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  3/1/23  \
0          0        0        0        0        0  ...     7896    7896
1          0        0        0        0        0  ...     3598    3598
2          0        0        0        0        0  ...     6881    6881
3          0        0        0        0        0  ...      165     165
4          0        0        0        0        0  ...     1933    1933
..       ...      ...      ...      ...      ...  ...      ...     ...
284        0        0        0        0        0  ...     5708    5708
285        0        0        0        0        0  ...        0       0
286        0        0        0        0        0  ...     2159    2159
287        0        0        0        0        0  ...     4057    4057
288        0        0        0        0        0  ...     5663    5668

     3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0      7896    7896    7896    7896    7896    7896    7896    7896
1      3598    3598    3598    3598    3598    3598    3598    3598
2      6881    6881    6881    6881    6881    6881    6881    6881
3       165     165     165     165     165     165     165     165
4      1933    1933    1933    1933    1933    1933    1933    1933
..      ...     ...     ...     ...     ...     ...     ...     ...
284    5708    5708    5708    5708    5708    5708    5708    5708
285       0       0       0       0       0       0       0       0
286    2159    2159    2159    2159    2159    2159    2159    2159
287    4057    4057    4057    4057    4057    4057    4057    4057
288    5668    5668    5668    5668    5668    5668    5671    5671

[289 rows x 1147 columns]

In [123]:
print(DF[DF['Lat'].isnull() & DF['Long'].notnull()])
print(DF[DF['Long'].isnull() & DF['Lat'].notnull()])

Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 1147 columns]
Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 1147 columns]

In [124]:
DF.columns

Index(['Country/Region', 'Province/State', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

In [125]:
DF.to_csv(cleaned_dataset_path, index=False)

### Data Cleaning

#### Extraction of the data

In [ ]:
# data = DF["Province_State"]

# col_index_max = DF.shape[0]

# columns = (DF.columns).tolist()

# row_values = []
# my_dict = {}
    
# for i in range(0, col_index_max):
#     input_string = data[i]
    
#     parts = input_string.split('\"')
#     dict = {}

#     for j, part in enumerate(parts, 1):
#         list_part = [elm.replace('\"', '') for elm in part.split(',') if elm]

#         if len(list_part) != 3:
#             my_dict[str(j)] = list_part

#     values_list = [val for sublist in my_dict.values() for val in sublist]

#     row_values.append(tuple(values_list))

    
# cleaned_us_list = [(key, *value) for key, value in zip(columns, row_values)]

# with open(cleaned_dataset_path, 'w') as csvfile:
#     csvwriter = csv.writer(csvfile)
    
#     csvwriter.writerows(cleaned_us_list)

#### Separation and conversion of data

In [240]:
list(DF.columns[10:12])

['Combined_Key', 'Population']

In [243]:
list(DF.columns[8:10])

['Lat', 'Long_']

In [241]:
cat_cols = list(DF.columns[:2]) + list(DF.columns[3:5]) + list(DF.columns[10:12])
DF[cat_cols] = DF[cat_cols].astype('category')

In [242]:
int_cols = [DF.columns[2]] + [DF.columns[5]]
DF[int_cols] = DF[int_cols].astype('int')

In [244]:
float_cols = [DF.columns[6]] + list(DF.columns[8:10])
DF[float_cols] = DF[float_cols].astype('float')

In [245]:
DF['Combined_Key'] = DF['Combined_Key'].astype('str')

In [248]:
DF.columns[12:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1143)

In [249]:
date_cols = DF.columns[12:]

DF[date_cols] = DF[date_cols].astype('int')

In [250]:
print(DF.dtypes)

Province_State    category
Admin2            category
UID                  int64
iso2              category
iso3              category
                    ...
3/5/23               int64
3/6/23               int64
3/7/23               int64
3/8/23               int64
3/9/23               int64
Length: 1155, dtype: object

#### Removing of unnecessary data and null values

In [251]:
print(DF['Admin2'].isnull().any())
print(DF['FIPS'].isnull().any())

True
True

In [252]:
if 'Unknown' not in DF['Admin2'].cat.categories:
    DF['Admin2'] = DF['Admin2'].cat.add_categories('Unknown')

DF['Admin2'] = DF['Admin2'].fillna('Unknown')

In [253]:
median_fips = DF['FIPS'].median()
DF['FIPS'] = DF['FIPS'].fillna(median_fips)

In [ ]:
#SAVE A CSV HERE IF WE WANT TO MAITAIN THE ORIGINAL STRUCTURE

In [254]:
DF.drop(['Combined_Key', 'Country_Region', 'FIPS'], axis=1, inplace=True)

In [255]:
DF.columns

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'Lat',
       'Long_', 'Population', '1/22/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1152)

In [256]:
DF.to_csv(cleaned_dataset_path, index=False)

### Advanced cleaning

In [ ]:
DF_desc = DF[DF.columns[:12]]
DF_date = DF[DF.columns[12:]]

print(DF_desc.head(2))
print("-- * --"*10)
print(DF_date.tail(2))

date_cols = DF.columns[11:]

DF[date_cols] = DF[date_cols].apply(pd.to_datetime)