In [17]:
import pandas as pd

# Load the dataset
file_path = ""
df = pd.read_csv('./RAW_us_deaths_sample.csv')

# Display the first few rows to verify the data structure
print(df.head())

                                      Province_State  Admin2  UID  iso2  iso3  \
0  Alabama,Autauga,84001001,US,USA,840,1001.0,US,...     NaN  NaN   NaN   NaN
1  Alabama,Baldwin,84001003,US,USA,840,1003.0,US,...     NaN  NaN   NaN   NaN
2  Alabama,Barbour,84001005,US,USA,840,1005.0,US,...     NaN  NaN   NaN   NaN
3  Alabama,Bibb,84001007,US,USA,840,1007.0,US,32....     NaN  NaN   NaN   NaN
4  Alabama,Blount,84001009,US,USA,840,1009.0,US,3...     NaN  NaN   NaN   NaN

   code3  FIPS  Country_Region  Lat  Long_  ...  2/28/23  3/1/23  3/2/23  \
0    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
1    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
2    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
3    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN
4    NaN   NaN             NaN  NaN    NaN  ...      NaN     NaN     NaN

   3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[5 rows x 1155 columns]

In [18]:
# Extract columns containing the dates and other relevant information
date_columns = df.columns[12:]  # Skip the first 12 columns which are not date columns

In [19]:
# Function to extract the year from a date string
def get_year(date_str):
    return date_str.split('/')[-1]

# Create a new DataFrame to store the yearly aggregated data
yearly_data = pd.DataFrame()

# Iterate through the date columns and aggregate the data by year
for date in date_columns:
    year = get_year(date)
    if f'Total_Deaths_Year_{year}' not in yearly_data.columns:
        yearly_data[f'Total_Deaths_Year_{year}'] = 0
    yearly_data[f'Total_Deaths_Year_{year}'] += df[date]

In [20]:
# Add the non-date columns back to the yearly_data DataFrame
yearly_data.insert(0, 'Province_State', df['Province_State'])
yearly_data.insert(1, 'Admin2', df['Admin2'])
yearly_data.insert(2, 'UID', df['UID'])
yearly_data.insert(3, 'iso2', df['iso2'])
yearly_data.insert(4, 'iso3', df['iso3'])
yearly_data.insert(5, 'code3', df['code3'])
yearly_data.insert(6, 'FIPS', df['FIPS'])
yearly_data.insert(7, 'Country_Region', df['Country_Region'])
yearly_data.insert(8, 'Lat', df['Lat'])
yearly_data.insert(9, 'Long_', df['Long_'])
yearly_data.insert(10, 'Combined_Key', df['Combined_Key'])
yearly_data.insert(11, 'Population', df['Population'])

# Display the first few rows of the yearly aggregated data
print(yearly_data.head())

                                      Province_State  Admin2  UID  iso2  iso3  \
0  Alabama,Autauga,84001001,US,USA,840,1001.0,US,...     NaN  NaN   NaN   NaN
1  Alabama,Baldwin,84001003,US,USA,840,1003.0,US,...     NaN  NaN   NaN   NaN
2  Alabama,Barbour,84001005,US,USA,840,1005.0,US,...     NaN  NaN   NaN   NaN
3  Alabama,Bibb,84001007,US,USA,840,1007.0,US,32....     NaN  NaN   NaN   NaN
4  Alabama,Blount,84001009,US,USA,840,1009.0,US,3...     NaN  NaN   NaN   NaN

   code3  FIPS  Country_Region  Lat  Long_  Combined_Key  Population  \
0    NaN   NaN             NaN  NaN    NaN           NaN         NaN
1    NaN   NaN             NaN  NaN    NaN           NaN         NaN
2    NaN   NaN             NaN  NaN    NaN           NaN         NaN
3    NaN   NaN             NaN  NaN    NaN           NaN         NaN
4    NaN   NaN             NaN  NaN    NaN           NaN         NaN

   Total_Deaths_Year_20  Total_Deaths_Year_21  Total_Deaths_Year_22  \
0                   NaN                   NaN                   NaN
1                   NaN                   NaN                   NaN
2                   NaN                   NaN                   NaN
3                   NaN                   NaN                   NaN
4                   NaN                   NaN                   NaN

   Total_Deaths_Year_23
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

In [21]:
# Save the yearly aggregated data to a new CSV file
yearly_data.to_csv('yearly_aggregated_deaths.csv', index=False)