# TRANSFORMATION - AGGREGATION OF DEATHS BY MONTH

## Scouting

In [67]:
import pandas as pd

DF = pd.read_csv('cleaned_us_deaths_sample.csv')

print(DF.head())

  Province_State   Admin2       UID iso2 iso3  code3    FIPS Country_Region  \
0        Alabama  Autauga  84001001   US  USA    840  1001.0             US
1        Alabama  Baldwin  84001003   US  USA    840  1003.0             US
2        Alabama  Barbour  84001005   US  USA    840  1005.0             US
3        Alabama     Bibb  84001007   US  USA    840  1007.0             US
4        Alabama   Blount  84001009   US  USA    840  1009.0             US

         Lat      Long_  ...  2/28/23  3/1/23  3/2/23  3/3/23  3/4/23  3/5/23  \
0  32.539527 -86.644082  ...      230     232     232     232     232     232
1  30.727750 -87.722071  ...      724     726     726     726     726     726
2  31.868263 -85.387129  ...      103     103     103     103     103     103
3  32.996421 -87.125115  ...      109     109     109     109     109     109
4  33.982109 -86.567906  ...      261     261     261     261     261     261

   3/6/23  3/7/23  3/8/23  3/9/23
0     232     232     232     232
1     726     726     727     727
2     103     103     103     103
3     109     109     109     109
4     261     261     261     261

[5 rows x 1154 columns]

In [68]:
print(DF.columns[:11])

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'FIPS',
       'Country_Region', 'Lat', 'Long_', 'Population'],
      dtype='object')

## Dummy

In [29]:
data = {
    'col1': ['foo'],
    'col2': ['bar'],
    '1/23/20': [1],
    '1/30/20': [2],
    '2/23/20': [3],
    '2/10/20': [4],
    '1/23/21': [2],
    '1/30/22': [8]
}

df = pd.DataFrame(data)

df.head()

  col1 col2  1/23/20  1/30/20  2/23/20  2/10/20  1/23/21  1/30/22
0  foo  bar        1        2        3        4        2        8

In [30]:
# Save the non-date columns
df_non_date = df[['col1', 'col2']]

# Convert the column names to datetime, errors='coerce' will convert unconvertable strings to NaT
df.columns = pd.to_datetime(df.columns, errors='coerce', format='%m/%d/%y')

# Create a new DataFrame to store the result
df_new = df[df.columns[~df.columns.isna()]].copy()

# Group by year and month, and take the max value for each group
df_new.columns = df_new.columns.to_series().dt.to_period('M')
df_new = df_new.groupby(df_new.columns, axis=1).max()

# Rename the columns
df_new.columns = df_new.columns.strftime('Total of deaths in %B %Y')

# Concatenate the non-date columns with the new DataFrame
df = pd.concat([df_non_date, df_new], axis=1)

# Print the DataFrame
print(df)

  col1 col2  Total of deaths in January 2020  \
0  foo  bar                                2

   Total of deaths in February 2020  Total of deaths in January 2021  \
0                                 4                                2

   Total of deaths in January 2022
0                                8

## Generalization

In [69]:
# Save the non-date columns
DF_non_date = DF[DF.columns[:11]]

# Convert the column names to datetime, errors='coerce' will convert unconvertable strings to NaT
DF.columns = pd.to_datetime(DF.columns, errors='coerce', format='%m/%d/%y')

print(DF.columns)

DatetimeIndex([       'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT',
               ...
               '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03',
               '2023-03-04', '2023-03-05', '2023-03-06', '2023-03-07',
               '2023-03-08', '2023-03-09'],
              dtype='datetime64[ns]', length=1154, freq=None)

In [70]:
# Create a new DataFrame to store the result
DF_new = DF[DF.columns[~DF.columns.isna()]].copy()

print(DF_new)

   2020-01-22  2020-01-23  2020-01-24  2020-01-25  2020-01-26  2020-01-27  \
0           0           0           0           0           0           0
1           0           0           0           0           0           0
2           0           0           0           0           0           0
3           0           0           0           0           0           0
4           0           0           0           0           0           0
5           0           0           0           0           0           0
6           0           0           0           0           0           0
7           0           0           0           0           0           0
8           0           0           0           0           0           0

   2020-01-28  2020-01-29  2020-01-30  2020-01-31  ...  2023-02-28  \
0           0           0           0           0  ...         230
1           0           0           0           0  ...         724
2           0           0           0           0  ...         103
3           0           0           0           0  ...         109
4           0           0           0           0  ...         261
5           0           0           0           0  ...          54
6           0           0           0           0  ...         132
7           0           0           0           0  ...         675
8           0           0           0           0  ...         170

   2023-03-01  2023-03-02  2023-03-03  2023-03-04  2023-03-05  2023-03-06  \
0         232         232         232         232         232         232
1         726         726         726         726         726         726
2         103         103         103         103         103         103
3         109         109         109         109         109         109
4         261         261         261         261         261         261
5          54          54          54          54          54          54
6         132         132         132         132         132         132
7         678         678         678         678         678         678
8         172         172         172         172         172         172

   2023-03-07  2023-03-08  2023-03-09
0         232         232         232
1         726         727         727
2         103         103         103
3         109         109         109
4         261         261         261
5          54          54          54
6         132         132         132
7         678         680         680
8         172         172         172

[9 rows x 1143 columns]

In [71]:
# Group by year and month, and take the max value for each group
DF_new.columns = DF_new.columns.to_series().dt.to_period('M')
DF_new = DF_new.groupby(DF_new.columns, axis=1).max()

print(DF_new)

   2020-01  2020-02  2020-03  2020-04  2020-05  2020-06  2020-07  2020-08  \
0        0        0        0        4        4       11       20       22
1        0        0        1        3        9        9       21       38
2        0        0        0        1        1        1        5        7
3        0        0        0        0        1        1        2        7
4        0        0        0        0        1        1        3       11
5        0        0        0        0        5       10       11       13
6        0        0        0        1       18       27       35       36
7        0        0        0        3        3        5        9       30
8        0        0        4       21       25       28       38       39

   2020-09  2020-10  ...  2022-06  2022-07  2022-08  2022-09  2022-10  \
0       27       31  ...      217      220      222      227      228
1       52       71  ...      683      687      693      712      716
2        7        9  ...       99      100      101      103      103
3       11       15  ...      105      105      105      107      108
4       15       25  ...      246      247      251      258      258
5       15       17  ...       54       54       54       54       54
6       40       41  ...      129      129      129      129      130
7       44       65  ...      633      638      640      656      659
8       42       47  ...      163      165      165      169      169

   2022-11  2022-12  2023-01  2023-02  2023-03
0      230      230      230      230      232
1      716      719      723      724      727
2      103      103      103      103      103
3      108      108      109      109      109
4      259      260      261      261      261
5       54       54       54       54       54
6      130      130      131      132      132
7      661      665      674      675      680
8      169      170      170      170      172

[9 rows x 39 columns]

In [72]:
# Rename the columns
DF_new.columns = DF_new.columns.strftime('Total_deaths_%m_%Y')

print(DF_new.columns)

Index(['Total_deaths_01_2020', 'Total_deaths_02_2020', 'Total_deaths_03_2020',
       'Total_deaths_04_2020', 'Total_deaths_05_2020', 'Total_deaths_06_2020',
       'Total_deaths_07_2020', 'Total_deaths_08_2020', 'Total_deaths_09_2020',
       'Total_deaths_10_2020', 'Total_deaths_11_2020', 'Total_deaths_12_2020',
       'Total_deaths_01_2021', 'Total_deaths_02_2021', 'Total_deaths_03_2021',
       'Total_deaths_04_2021', 'Total_deaths_05_2021', 'Total_deaths_06_2021',
       'Total_deaths_07_2021', 'Total_deaths_08_2021', 'Total_deaths_09_2021',
       'Total_deaths_10_2021', 'Total_deaths_11_2021', 'Total_deaths_12_2021',
       'Total_deaths_01_2022', 'Total_deaths_02_2022', 'Total_deaths_03_2022',
       'Total_deaths_04_2022', 'Total_deaths_05_2022', 'Total_deaths_06_2022',
       'Total_deaths_07_2022', 'Total_deaths_08_2022', 'Total_deaths_09_2022',
       'Total_deaths_10_2022', 'Total_deaths_11_2022', 'Total_deaths_12_2022',
       'Total_deaths_01_2023', 'Total_deaths_02_2023', 'Total_deaths_03_2023'],
      dtype='object')

In [73]:
# Concatenate the non-date columns with the new DataFrame
DF = pd.concat([DF_non_date, DF_new], axis=1)

# Print the DataFrame
print(DF)

  Province_State    Admin2       UID iso2 iso3  code3    FIPS Country_Region  \
0        Alabama   Autauga  84001001   US  USA    840  1001.0             US
1        Alabama   Baldwin  84001003   US  USA    840  1003.0             US
2        Alabama   Barbour  84001005   US  USA    840  1005.0             US
3        Alabama      Bibb  84001007   US  USA    840  1007.0             US
4        Alabama    Blount  84001009   US  USA    840  1009.0             US
5        Alabama   Bullock  84001011   US  USA    840  1011.0             US
6        Alabama    Butler  84001013   US  USA    840  1013.0             US
7        Alabama   Calhoun  84001015   US  USA    840  1015.0             US
8        Alabama  Chambers  84001017   US  USA    840  1017.0             US

         Lat      Long_  ...  Total_deaths_06_2022  Total_deaths_07_2022  \
0  32.539527 -86.644082  ...                   217                   220
1  30.727750 -87.722071  ...                   683                   687
2  31.868263 -85.387129  ...                    99                   100
3  32.996421 -87.125115  ...                   105                   105
4  33.982109 -86.567906  ...                   246                   247
5  32.100305 -85.712655  ...                    54                    54
6  31.753001 -86.680575  ...                   129                   129
7  33.774837 -85.826304  ...                   633                   638
8  32.913601 -85.390727  ...                   163                   165

   Total_deaths_08_2022  Total_deaths_09_2022  Total_deaths_10_2022  \
0                   222                   227                   228
1                   693                   712                   716
2                   101                   103                   103
3                   105                   107                   108
4                   251                   258                   258
5                    54                    54                    54
6                   129                   129                   130
7                   640                   656                   659
8                   165                   169                   169

   Total_deaths_11_2022  Total_deaths_12_2022  Total_deaths_01_2023  \
0                   230                   230                   230
1                   716                   719                   723
2                   103                   103                   103
3                   108                   108                   109
4                   259                   260                   261
5                    54                    54                    54
6                   130                   130                   131
7                   661                   665                   674
8                   169                   170                   170

   Total_deaths_02_2023  Total_deaths_03_2023
0                   230                   232
1                   724                   727
2                   103                   103
3                   109                   109
4                   261                   261
5                    54                    54
6                   132                   132
7                   675                   680
8                   170                   172

[9 rows x 50 columns]

In [74]:
DF.to_csv('transformed_agg_monthly_us_deaths_sample.csv', index=False)